{% extends 'base.html' %}

{% block extra_css %}

    <style>


        .southsea {
            stroke: #0F435E;
            stroke-width: 4px;
            fill: #0000;
        }


    </style>
{% endblock %}


{% block content %}

    <div style="width: 100%">
        <div style="margin: 0 auto;width: 1200px">
            <p style="font-size: 30px">Web系统安全状态全视图</p>
            <a href="{% url 'report' %}">
                <button class="button" style="float: right;margin: -36px 50px 0 0;cursor: pointer">查看报表</button>
            </a>
        </div>
        <div style="margin: 0 auto;width: 1200px">
            <div style="width: 180px;height: 600px;float: left;margin: 0 0 0 0">
                <!--攻击来源统计TOP5-->
                <div ng-controller="attack_location_count" style="width: 180px;margin: 35px 0 20px 0">
                    <div class="table_title" style="width: 180px">攻击来源&nbsp;&nbsp;TOP5</div>
                    <div class="table_content" style="width: 180px;height: 180px;">
                        <table style="font-size: 13px;margin: 10px auto">
                            <tr style="line-height:25px">
                                <th style="width: 100px">来源</th>
                                <th style="width: 100px">攻击次数</th>
                            </tr>
                            <tr style="line-height:25px" ng-repeat="i in attack_location_count.slice(0,5)">
                                <th>||i.location||</th>
                                <th style="cursor: pointer" ng-click="show_attack_modal(i.location)">||i.count||</th>
                            </tr>
                        </table>
                    </div>
                    <div id="attack_modal" style="display:none;background: rgba(9,49,80, 0.5);width: 1200px;height: 680px;font-size: 13px">
                        <table width="100%">
                            <tr style="text-align: center;line-height: 35px;font-size: 14px">
                                <th style="float: left;width: 150px">时间</th>
                                <th style="float: left;width: 250px;word-break:break-all;margin-right: 6px">URL</th>
                                <th style="float: left;width: 130px;text-align: center;margin-right: -17px">源IP</th>
                                <th style="float: left;width: 90px;text-align: center;margin-left: 16px">源端口</th>
                                <th style="float: left;width: 120px;text-align: center">源地理位置</th>
                                <th style="float: left;width: 80px;margin-right: 13px">协议</th>

            {#                    <th style="float: left;width: 125px;text-align: center;margin-right: 4px">报文头</th>#}
            {#                    <th style="float: left;width: 155px;text-align: center;word-break:break-all;margin-right: -12px">报文内容</th>#}
            {#                    <th style="float: left;width: 60px;text-align: center;margin-right: -5px">响应代码</th>#}
            {#                    <th style="float: left;width: 230px;text-align: center;word-break:break-all">响应正文</th>#}


                                <th style="float: left;width: 90px;text-align: center;margin-left: -15px">目的IP</th>
                                <th style="float: left;width: 80px;text-align: center">目的端口</th>
                                <th style="float: left;width: 120px;text-align: center">目的地理位置</th>
                                <th style="float: left;width: 63px;text-align: center">类型</th>


                            </tr>
                            <tr ng-repeat="i in attack_infos">
                                <th style="float: left;width: 150px;text-align: center;margin: 0 5px 0 0">||i.fields['UTC_Time'] | date : 'yyyy-MM-dd hh:mm:ss'||</th>
                                <th style="float: left;width: 250px;word-break:break-all;text-align: center">||i.fields['URL']||</th>
                                <th style="float: left;width: 130px;text-align: center">||i.fields['SrcIP']||</th>
                                <th style="float: left;width: 90px;text-align: center">||i.fields['SrcPort']||</th>
                                <th style="float: left;width: 120px;text-align: center">||i.fields['SrcGeoPos']||</th>
            {#                    <th style="float: left;width: 80px;text-align: center">||i.NetProType||</th>#}
                                <th style="float: left;width: 80px;text-align: center">TCP</th>
            {#                    <th style="float: left;width: 155px;text-align: center;word-break:break-all">||i.MesHeader||</th>#}
            {#                    <th style="float: left;width: 125px;text-align: center;word-break:break-all">||i.MesBody||</th>#}
            {#                    <th style="float: left;width: 60px;text-align: center">||i.ResponseCode||</th>#}
            {#                    <th style="float: left;width: 230px;text-align: center;word-break:break-all">||i.ResponseBody||</th>#}


                                <th style="float: left;width: 90px;text-align: center">||i.fields['DescIP']||</th>
                                <th style="float: left;width: 80px;text-align: center">||i.fields['DescPort']||</th>
                                <th style="float: left;width: 120px;text-align: center">||i.fields['DescGeoPos']||</th>
                                <th style="float: left;width: 64px;text-align: center" ng-if="i.fields['AttType']==1">Sql注入</th>
                                <th style="float: left;width: 64px;text-align: center" ng-if="i.fields['AttType']==2">XSS</th>
                                <th style="float: left;width: 64px;text-align: center" ng-if="i.fields['AttType']==3">Web后门</th>
                                <th style="float: left;width: 64px;text-align: center" ng-if="i.fields['AttType']==4">远程命令执行</th>
                                <th style="float: left;width: 64px;text-align: center" ng-if="i.fields['AttType']==5">文件包含</th>

                            </tr>
                        </table>
                        <div id="attack_infos_pagination" style="top:650px;left: 465px;position: absolute"></div>

                    </div>
                </div>
                <!--攻击来源统计TOP5-->

                <!--被攻击来源统计TOP5-->
                <div ng-controller="attacked_location_count" style="width: 180px;float: left">
                    <div class="table_title" style="width: 180px">被攻击区域&nbsp;&nbsp;TOP5</div>
                    <div class="table_content" style="width: 180px;height: 180px;">
                        <table style="font-size: 13px;margin: 10px auto">
                            <tr style="line-height:25px">
                                <th style="width: 100px">来源</th>
                                <th style="width: 100px;cursor: pointer">被攻击次数</th>
                            </tr>
                            <tr style="line-height:25px" ng-repeat="i in attacked_location_count.slice(0,5)">
                                <th>||i.location||</th>
                                <th ng-click="show_attacked_modal(i.location)" style="cursor: pointer">||i.count||</th>

                        </table>
                    </div>

                    <div id="attacked_modal" style="display:none;background: rgba(9,49,80, 0.5);width: 1200px;height: 680px;font-size: 13px">
                        <table width="100%">
                            <tr style="text-align: center;line-height: 35px;font-size: 14px">
                                <th style="float: left;width: 150px">时间</th>
                                <th style="float: left;width: 250px;word-break:break-all;margin-right: 6px">URL</th>
                                <th style="float: left;width: 130px;text-align: center;margin-right: -17px">源IP</th>
                                <th style="float: left;width: 90px;text-align: center;margin-left: 16px">源端口</th>
                                <th style="float: left;width: 120px;text-align: center">源地理位置</th>
                                <th style="float: left;width: 80px;margin-right: 13px">协议</th>

            {#                    <th style="float: left;width: 125px;text-align: center;margin-right: 4px">报文头</th>#}
            {#                    <th style="float: left;width: 155px;text-align: center;word-break:break-all;margin-right: -12px">报文内容</th>#}
            {#                    <th style="float: left;width: 60px;text-align: center;margin-right: -5px">响应代码</th>#}
            {#                    <th style="float: left;width: 230px;text-align: center;word-break:break-all">响应正文</th>#}


                                <th style="float: left;width: 90px;text-align: center;margin-left: -15px">目的IP</th>
                                <th style="float: left;width: 80px;text-align: center">目的端口</th>
                                <th style="float: left;width: 120px;text-align: center">目的地理位置</th>
                                <th style="float: left;width: 63px;text-align: center">类型</th>


                            </tr>
                            <tr ng-repeat="i in attacked_infos">
                                <th style="float: left;width: 150px;text-align: center;margin: 0 5px 0 0">||i.fields['UTC_Time'] | date : 'yyyy-MM-dd hh:mm:ss'||</th>
                                <th style="float: left;width: 250px;word-break:break-all;text-align: center">||i.fields['URL']||</th>
                                <th style="float: left;width: 130px;text-align: center">||i.fields['SrcIP']||</th>
                                <th style="float: left;width: 90px;text-align: center">||i.fields['SrcPort']||</th>
                                <th style="float: left;width: 120px;text-align: center">||i.fields['SrcGeoPos']||</th>
            {#                    <th style="float: left;width: 80px;text-align: center">||i.NetProType||</th>#}
                                <th style="float: left;width: 80px;text-align: center">TCP</th>
            {#                    <th style="float: left;width: 155px;text-align: center;word-break:break-all">||i.MesHeader||</th>#}
            {#                    <th style="float: left;width: 125px;text-align: center;word-break:break-all">||i.MesBody||</th>#}
            {#                    <th style="float: left;width: 60px;text-align: center">||i.ResponseCode||</th>#}
            {#                    <th style="float: left;width: 230px;text-align: center;word-break:break-all">||i.ResponseBody||</th>#}


                                <th style="float: left;width: 90px;text-align: center">||i.fields['DescIP']||</th>
                                <th style="float: left;width: 80px;text-align: center">||i.fields['DescPort']||</th>
                                <th style="float: left;width: 120px;text-align: center">||i.fields['DescGeoPos']||</th>
                                <th style="float: left;width: 64px;text-align: center" ng-if="i.fields['AttType']==1">Sql注入</th>
                                <th style="float: left;width: 64px;text-align: center" ng-if="i.fields['AttType']==2">XSS</th>
                                <th style="float: left;width: 64px;text-align: center" ng-if="i.fields['AttType']==3">Web后门</th>
                                <th style="float: left;width: 64px;text-align: center" ng-if="i.fields['AttType']==4">远程命令执行</th>
                                <th style="float: left;width: 64px;text-align: center" ng-if="i.fields['AttType']==5">文件包含</th>

                            </tr>
                        </table>
                        <div id="attacked_infos_pagination" style="top:650px;left: 465px;position: absolute"></div>

                    </div>

                </div>


                <!--被攻击来源统计TOP5-->
            </div>
            <!--大公鸡-->

            <svg id="svg" style="float: left;margin: 15px 0 0 23px">

                <g xmlns="http://www.w3.org/2000/svg" id="southsea" transform="translate(630,450)scale(0.5)"
                   class="southsea">
                    <title>South China Sea</title>
                    <line id="svg_1" y2="7" x2="145" y1="7" x1="20"></line>
                    <line id="svg_2" y2="24" x2="6" y1="7" x1="20"></line>
                    <line id="svg_3" y2="195" x2="145" y1="7" x1="145"></line>
                    <line id="svg_4" y2="195" x2="6" y1="24" x1="6"></line>
                    <line id="svg_5" y2="195" x2="145" y1="195" x1="6"></line>
                    <path id="svg_6" d="m6,31.5l9,7.5l15,9l15,4l18,0l17,-14l21,-31L20,7L6,24z"></path>
                    <path id="svg_7" d="m113,7l10,25l11,-25z"></path>
                    <path id="svg_9" d="m46.5,66.5l14.5,-6.5l-1,13l-7,7l-15,4l8.5,-17.5z"></path>
                    <line id="svg_10" y2="46.5" x2="132.5" y1="31.5" x1="141.5"></line>
                    <line id="svg_11" y2="76.5" x2="115.5" y1="61.5" x1="121.5"></line>
                    <line id="svg_12" y2="111.5" x2="110.5" y1="92.5" x1="110.5"></line>
                    <line id="svg_13" y2="147.5" x2="101.5" y1="127.5" x1="108.5"></line>
                    <line id="svg_14" y2="177.5" x2="78.5" y1="163.5" x1="91.5"></line>
                    <line id="svg_15" y2="188.5" x2="39.5" y1="184.5" x1="54.5"></line>
                    <line id="svg_16" y2="158.5" x2="11.5" y1="172.5" x1="17.5"></line>
                    <line id="svg_17" y2="132.5" x2="39.5" y1="142.5" x1="24.5"></line>
                    <line id="svg_18" y2="98.5" x2="37.5" y1="113.5" x1="40.5"></line>
                </g>

            </svg>
            <!--大公鸡-->

            <!--攻击类型统计-->
            <div ng-controller="attack_type_count" style="float: left;width: 180px;height: 360px;margin: 20px 0 0 15px">
                <div class="table_title" style="width: 180px">攻击类型统计</div>
                <div class="table_content" style="width: 100%;height: 434px;">
                    <table style="font-size: 13px;margin: 10px auto">
                        <tr style="line-height:25px">
                            <th style="width: 100px">来源</th>
                            <th style="width: 100px">攻击次数</th>
                        </tr>
                        <tr style="line-height:25px" ng-repeat="i in attack_type_count">
                            <th ng-style="{color: i.color}">||i.type||</th>
                            <th style="cursor: pointer" ng-click="show_attack_type_modal(i.type)">||i.count||</th>
                        </tr>

                    </table>
                </div>


                    <div id="attack_type_modal" style="display:none;background: rgba(9,49,80, 0.5);width: 1200px;height: 680px;font-size: 13px">
                        <table width="100%">
                            <tr style="text-align: center;line-height: 35px;font-size: 14px">
                                <th style="float: left;width: 150px">时间</th>
                                <th style="float: left;width: 250px;word-break:break-all;margin-right: 6px">URL</th>
                                <th style="float: left;width: 130px;text-align: center;margin-right: -17px">源IP</th>
                                <th style="float: left;width: 90px;text-align: center;margin-left: 16px">源端口</th>
                                <th style="float: left;width: 120px;text-align: center">源地理位置</th>
                                <th style="float: left;width: 80px;margin-right: 13px">协议</th>

            {#                    <th style="float: left;width: 125px;text-align: center;margin-right: 4px">报文头</th>#}
            {#                    <th style="float: left;width: 155px;text-align: center;word-break:break-all;margin-right: -12px">报文内容</th>#}
            {#                    <th style="float: left;width: 60px;text-align: center;margin-right: -5px">响应代码</th>#}
            {#                    <th style="float: left;width: 230px;text-align: center;word-break:break-all">响应正文</th>#}


                                <th style="float: left;width: 90px;text-align: center;margin-left: -15px">目的IP</th>
                                <th style="float: left;width: 80px;text-align: center">目的端口</th>
                                <th style="float: left;width: 120px;text-align: center">目的地理位置</th>
                                <th style="float: left;width: 63px;text-align: center">类型</th>


                            </tr>
                            <tr ng-repeat="i in attack_type_infos">
                                <th style="float: left;width: 150px;text-align: center;margin: 0 5px 0 0">||i.fields['UTC_Time'] | date : 'yyyy-MM-dd hh:mm:ss'||</th>
                                <th style="float: left;width: 250px;word-break:break-all;text-align: center">||i.fields['URL']||</th>
                                <th style="float: left;width: 130px;text-align: center">||i.fields['SrcIP']||</th>
                                <th style="float: left;width: 90px;text-align: center">||i.fields['SrcPort']||</th>
                                <th style="float: left;width: 120px;text-align: center">||i.fields['SrcGeoPos']||</th>
            {#                    <th style="float: left;width: 80px;text-align: center">||i.NetProType||</th>#}
                                <th style="float: left;width: 80px;text-align: center">TCP</th>
            {#                    <th style="float: left;width: 155px;text-align: center;word-break:break-all">||i.MesHeader||</th>#}
            {#                    <th style="float: left;width: 125px;text-align: center;word-break:break-all">||i.MesBody||</th>#}
            {#                    <th style="float: left;width: 60px;text-align: center">||i.ResponseCode||</th>#}
            {#                    <th style="float: left;width: 230px;text-align: center;word-break:break-all">||i.ResponseBody||</th>#}


                                <th style="float: left;width: 90px;text-align: center">||i.fields['DescIP']||</th>
                                <th style="float: left;width: 80px;text-align: center">||i.fields['DescPort']||</th>
                                <th style="float: left;width: 120px;text-align: center">||i.fields['DescGeoPos']||</th>
                                <th style="float: left;width: 64px;text-align: center" ng-if="i.fields['AttType']==1">Sql注入</th>
                                <th style="float: left;width: 64px;text-align: center" ng-if="i.fields['AttType']==2">XSS</th>
                                <th style="float: left;width: 64px;text-align: center" ng-if="i.fields['AttType']==3">Web后门</th>
                                <th style="float: left;width: 64px;text-align: center" ng-if="i.fields['AttType']==4">远程命令执行</th>
                                <th style="float: left;width: 64px;text-align: center" ng-if="i.fields['AttType']==5">文件包含</th>
                            </tr>
                        </table>
                        <div id="attacked_type_pagination" style="top:650px;left: 465px;position: absolute"></div>

                    </div>

            </div>
            <!--攻击类型统计-->

        </div>


        {#            <!--目标网站统计-->#}
        {#            <div style="width: 550px;height: 360px;float: right;margin: 90px -150px 0 0"  ng-controller="target_website_count">#}
        {#                <div class="table_title" style="width: 550px">目标网站统计</div>#}
        {#                <div class="table_content" style="width: 100%;height: 360px;">#}
        {#                    <table style="font-size: 13px;margin: 10px auto">#}
        {#                        <tr style="line-height:25px">#}
        {#                            <th style="width: 130px">目标网站</th>#}
        {#                            <th style="width: 70px">Sql注入</th>#}
        {#                            <th style="width: 70px">XSS</th>#}
        {#                            <th style="width: 75px">Web后门</th>#}
        {#                            <th style="width: 75px">文件包含</th>#}
        {#                            <th style="width: 92px">远程命令执行</th>#}
        {#                        </tr>#}
        {#                        <tr style="line-height:25px" ng-repeat="i in target_website_count">#}
        {#                            <th>||i.domain||</th>#}
        {#                            <th>||i.xss_count||/||i.xss_valid_count||</th>#}
        {#                            <th>||i.xss_count||/||i.xss_valid_count||</th>#}
        {#                            <th>||i.web_count||/0</th>#}
        {#                            <th>||i.rc_count||/0</th>#}
        {#                            <th>||i.fc_count||/0</th>#}
        {#                        </tr>#}
        {##}
        {#                    </table>#}
        {#                </div>#}
        {#            </div>#}
        {#            <!--目标网站统计-->#}
        {#    </div>#}

        <div style="clear: both; width: 100%;" ng-controller="flow_info">
            <div style="width: 1200px;margin: 0 auto">
                <!--实时攻击信息-->
                <div style="float:left; width: 1150px;height: 340px;">
                    <div class="table_title" style="width: 1150px">实时攻击信息</div>
                    <div class="table_content" style="width: 100%;height: 650px;margin: 0 0 25px 0">
                        <table style="font-size: 13px;margin: 10px auto">
                            <tr style="line-height:25px">
                                <th style="width: 180px">时间</th>
                                <th style="width: 150px">源IP</th>
                                <th style="width: 150px">目标IP</th>
                                <th style="width: 250px">目标URL</th>
                                <th style="width: 120px">目标地理位置</th>
                                <th style="width: 150px">类型</th>
                                {#                            <th style="width: 75px">目标网站</th>#}
                            </tr>
                            <tr style="line-height:25px;" ng-repeat="i in flow_info">
                                <th ng-style="set_color(i.type)" ng-if="i.time!='None'">||i.time.slice(0, 19)||</th>
                                <th ng-style="set_color(i.type)" ng-if="i.time=='None'"></th>
                                <th ng-style="set_color(i.type)">||i.src_ip||</th>
                                <th ng-style="set_color(i.type)">||i.desc_ip||</th>
                                <th ng-style="set_color(i.type)">||i.url.slice(0, 63)||</th>
                                <th ng-style="set_color(i.type)">||i.DescGeoPos||</th>
                                <th ng-style="set_color(i.type)" ng-if="!i.type">正常</th>
{#                                <th ng-style="set_color(i.type)" ng-if="i.type==0">正常</th>#}
                                <th ng-style="set_color(i.type)" ng-if="i.type==1">Sql注入</th>
                                <th ng-style="set_color(i.type)" ng-if="i.type==2">XSS</th>
                                <th ng-style="set_color(i.type)" ng-if="i.type==3">Web后门</th>
                                <th ng-style="set_color(i.type)" ng-if="i.type==4">远程命令执行</th>
                                <th ng-style="set_color(i.type)" ng-if="i.type==5">文件包含</th>
                                <th ng-style="set_color(i.type)" ng-if="i.type==6">Scanner</th>
                                <th ng-style="set_color(i.type)" ng-if="i.type==7">Exp</th>

                                {#                            <th ng-if="i.type=='Sql注入'||i.type=='XSS'">||i.count||/||i.valid_count||</th>#}
                                {#                            <th ng-if="i.type!='Sql注入'&&i.type!='XSS'">||i.count||/0</th>#}
                                {#                            <th>||i.domain||</th>#}
                            </tr>

                        </table>
                    </div>
                </div>
                <!--攻击者信息-->


            </div>

        </div>
    </div>





{% endblock %}

{% block extra_script %}
    <script>


        app.controller('target_website_count', function ($scope, $http) {
            var promise = $http({
                method: 'GET',
                url: '/target_website_count'
            });
            promise.success(function (data) {
                $scope.target_website_count = data
            })

        })

        app.controller('flow_info', function ($scope, $http) {

            $scope.set_color = function (type) {
                switch(type)
                        {
                        case 1:
                           return {color: "green"}
                          break;
                        case 2: return {color: "red"}
                          break;
                        case 3:
                            return {color: "orange"}
                            break;
                        case 4:
                            return {color: "purple"}
                            break;
                        case 5:
                            return {color: "blue"}
                            break;
                        }
            }



            //城市经纬度信息
            var city_coordinate = {
                '上海': [121.5, 31.2], '北京': [116.5, 40], '西安': [108.9, 34.3],
                '成都': [104.1, 30.6], '乌鲁木齐': [87.7, 43.8], '台北': [121.3, 25.0], '广州': [113.2, 23.2],
                '天津': [117.2, 39.1], '香港': [114.1, 22.2], '深圳': [114.1, 22.6], '绍兴': [120.2, 30.3],
                '重庆': [106.5, 29.6], '青岛': [120.3, 36.0], '厦门': [118.1, 24.5], '福州': [119.3, 26.1],
                '兰州': [103.7, 36.0], '南京': [118.8, 32.0], '沈阳': [123.4, 41.8], '太原': [112.5, 41.8],
                '拉萨': [91.0, 29.6], '昆明': [102.7, 25.1], '武汉': [114.3, 30.5], '郑州': [113.7, 34.8],
                '海口': [110.4, 20.0], '杭州': [120.2, 30.3], '淮安': [119.0, 33.0], '新加坡': [105, 0], '美国':[180, 33.0]
            };

            var province_center_coordinate =
                    [[126.6, 45.75], [114.5, 38.0], [102.7, 25.1], [104.1, 30.1], [125.4, 43.9], [123.1, 41.8],
                        [101.8, 36.6], [108.9, 34.3], [113.7, 34.8], [117.0, 36.4], [112.5, 37.9], [117.2, 31.5],
                        [114.3, 30.5], [113, 28.2], [118.8, 32.1], [106.7, 26.6], [108.2, 22.5], [120.2, 30.3],
                        [115.9, 28.7], [113.2, 23.2], [119.3, 26.1], [121.3, 25], [110.4, 20.0], [111.4, 40.5],
                        [106.3, 38.5], [87.7, 43.8], [91, 29.6], [113.5, 22.2], [116.4, 39.9], [103.7, 36.0], [121.5, 31.2],
                        [114.1, 22.2], [117.2, 39.1], [106.5, 29.6]]


            //画布大小
            var width = 750;
            var height = 570;

            //在 body 里添加一个 SVG 画布
            var svg = d3.select("#svg")
                    .attr("width", width)
                    .attr("height", height)
                    .append('g')
                    .attr('transform', 'translate(30, 100)')

            var color = d3.scale.category20();   //有十种颜色的颜色比例尺

            //投影函数
            var projection = d3.geo.mercator()  //墨卡托投影
                    .center([107, 31])  //center() 设定地图的中心位置，[107,31] 指的是经度和纬度。
                    .scale(695) //scale() 设定放大的比例。
                    .translate([width / 2, height / 2]) //translate() 设定平移。

            var path = d3.geo.path()  //地理路径生成器。
                    .projection(projection);


            var defs = svg.append("defs");

            var arrowMarker = defs.append("marker")
                    .attr("id", "arrow")
                    .attr("markerUnits", "strokeWidth")
                    .attr("markerWidth", "12")
                    .attr("markerHeight", "12")
                    .attr("viewBox", "0 0 12 12")
                    .attr("refX", "6")
                    .attr("refY", "6")
                    .attr("orient", "auto");

            var arrow_path = "M2,2 L10,6 L2,10 L6,6 L2,2";

            arrowMarker.append("path")
                    .attr("d", arrow_path)
                    .attr("fill", "red")


            d3.json('/canvas/json', function (error, root) {
                if (error)
                    return console.error(error)
                console.log(root.features)
                svg.selectAll('path')
                        .data(root.features)
                        .enter()
                        .append('path')
                        .attr('stroke', '#0F435E')
                        .attr('stroke-width', 2)
                        {#                .attr('fill', function (d, i) {#}
                        {#                    return color(i)#}
                        {#                })#}
                        .attr('fill', 'black')
                        .attr('d', path)
                //上面这个相当于:
                //.attr("d",funtion(d){
                //  return path(d);
                //})

                for (var i = 0; i < province_center_coordinate.length; i++) {
                    console.log(province_center_coordinate[i]['x'], province_center_coordinate[i]['y'])
                    svg.append('circle').attr({
                        cx: projection(province_center_coordinate[i])[0],
                        cy: projection(province_center_coordinate[i])[1],
                        "fill": 'orange',
                        r: 4
                    })
                }
            })

            //获取范围内的随机数
            function random(min, max) {

                return Math.floor(min + Math.random() * (max - min));

            }


            var colorList = ['green', 'red', 'orange', 'purple', 'deepskyblue']
            var attack_type = [1, 2, 3, 4, 5]

            var ordinal = d3.scale.ordinal()  //比例尺
                    .domain(attack_type)
                    .range(colorList);

            {#            function getColorByRandom(colorList) {#}
            {#                var colorIndex = Math.floor(Math.random() * colorList.length);#}
            {#                var color = colorList[colorIndex];#}
            {#                return color;#}
            {#            }#}


            var currentIndex = 0;

            var stop = false


            function newRequest() {

                if (stop) {
                    return
                }
                var promise = $http({
                    method: 'GET',
                    url: '/flow_info/' + currentIndex
                });

                promise.success(function (data) {
                    $scope.flow_info = data
                    setTimeout(newRequest, 1500)
                    currentIndex++

                    console.log(data[0]['type'])
                    var start_city_coordinate = projection(city_coordinate[data[0]['SrcGeoPos']])//投影映射计算
                    var end_city_coordinate = projection(city_coordinate[data[0]['DescGeoPos']]) //投影映射计算
                    console.log(start_city_coordinate)
                    var x1 = start_city_coordinate[0]
                    var y1 = start_city_coordinate[1]
                    var x2 = end_city_coordinate[0]
                    var y2 = end_city_coordinate[1]
                                        if( $scope.flow_info.length<6){
                                            stop=true
                                        }

                    svg.append('circle')
                            .attr({
                                cx: x1,
                                cy: y1,
                                fill: "none",
                                "stroke-width": 4,
                                r: 2
                            })
                            .attr('stroke', ordinal(data[0]['type']))
                            .style("stroke-opacity", 1).
                            transition().duration(4000).
                            ease("cubic-out").
                            style("stroke-opacity", 0).
                            attr("r", 80).remove()


                    var line = svg.append("line")
                            .attr("x1", x1)
                            .attr("y1", y1)
                            .attr("x2", x1)
                            .attr("y2", y1)
                            .attr("stroke", "red")
                            .attr("stroke-width", 2)
                            .attr('class', 'line')
                            .attr("marker-end", "url(#arrow)")
                        // 开始线段
                            .transition()
                            .duration('800')
                            .ease('linear')
                            .attr('x2', x1 + 0.4 * (x2 - x1))  //x1+比例*(x2-x1)
                            .attr('y2', y1 + 0.4 * (y2 - y1))    //y1+比例*(y2-y1)
                        //  位移
                            .transition()
                            .duration('1000')
                            .ease('linear')
                            .attr('x1', x2 - 0.4 * (x2 - x1))
                            .attr('y1', y2 - 0.4 * (y2 - y1))
                            .attr('x2', x2)
                            .attr('y2', y2)
                        // 结束线段
                            .transition()
                            .duration('800')
                            .ease('linear')
                            .attr('x1', x2)
                            .attr('y1', y2)
                            .each('end', function () {
                                line.transition()
                                        .attr('marker-end', '')
                                svg.append('circle')
                                        .attr({
                                            cx: x2,
                                            cy: y2,
                                            fill: "none",
                                            "stroke-width": 4,
                                            r: 2
                                        })
                                        .attr('stroke', ordinal(data[0]['type']))
                                        .style("stroke-opacity", 1).
                                        transition().duration(4000).
                                        ease("cubic-out").
                                        style("stroke-opacity", 0).
                                        attr("r", 80).remove()
                            })


                })
            }

            newRequest()

        })

        app.controller('attack_type_count', function ($scope, $http) {
            var promise = $http({
                method: 'GET',
                url: '/attack_type_count'
            });
            promise.success(function (data) {
                $scope.attack_type_count = data
            })

            $scope.show_attack_type_modal = function(type){
                console.log(type)
                var attack_type
                switch(type)
                        {
                        case 'Sql注入':
                           attack_type = 1
                          break;
                        case 'XSS': attack_type = 2
                          break;
                        case 'Web后门':
                            attack_type = 3
                            break;
                        case '远程命令执行':
                            attack_type = 4
                            break;
                        case '文件包含':
                            attack_type =5
                            break;
                        }

                $http.post('/attack_flow', {'type': attack_type, 'page': 1}, {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).success(function(data){
                    console.log(data)
                    $scope.attack_type_infos = JSON.parse(data['flows_slice'])

                    $('#attacked_type_pagination').pagination({
                        items: data['length'],
                        itemsOnPage: 4,
                        prevText: '上一页',
                        nextText: '下一页',
                        cssStyle: 'dark-theme',
                        onPageClick: function () {
                                $scope.$apply(function () {  // update pagination data
                                var log_current_page = $('#attacked_type_pagination').pagination('getCurrentPage') // 当前页数
                                $http.post('/attack_flow', {'type': attack_type, 'page': log_current_page}, {
                                    headers: {
                                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                                    }
                                }).success(function(data){
                                    $scope.attack_type_infos = JSON.parse(data['flows_slice'])
                                })
                            })

                        },
                        onInit: function () {
                            $scope.attack_type_infos =  JSON.parse(data['flows_slice'])
                        }
                    });

                })

                $('#attack_type_modal').modal({});
                return false;
            }

        })

        app.controller('attack_location_count', function ($scope, $http) {
            var promise = $http({
                method: 'GET',
                url: '/attack_location_count'
            });
            promise.success(function (data) {
                $scope.attack_location_count = data
            })

            $scope.show_attack_modal = function(location){
                console.log(location)
                if(location=='未知'){
                    location = ''
                }
                $http.post('/attack_flow', {'attack_location': location, 'to_or_from': 'from', 'page': 1}, {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).success(function(data){
                    $scope.attack_infos = JSON.parse(data['flows_slice'])
                    console.log((data['flows_slice']))
                    $('#attack_infos_pagination').pagination({
                        items: data['length'],
                        itemsOnPage: 4,
                        prevText: '上一页',
                        nextText: '下一页',
                        cssStyle: 'dark-theme',
                        onPageClick: function () {

                            $scope.$apply(function () {  // update pagination data
                                var log_current_page = $('#attack_infos_pagination').pagination('getCurrentPage') // 当前页数
                                $http.post('/attack_flow', {'attack_location': location, 'to_or_from': 'from', 'page': log_current_page}, {
                                    headers: {
                                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                                    }
                                }).success(function(data){
                                    $scope.attack_infos = JSON.parse(data['flows_slice'])
                                })
                            })

                        },
                        onInit: function () {
                            $scope.attack_infos =  JSON.parse(data['flows_slice'])
                        }
                    });

                })

                $('#attack_modal').modal({});
                return false;

                //attack_infos
            }

        })

        app.controller('attacked_location_count', function ($scope, $http) {
            var promise = $http({
                method: 'GET',
                url: '/attacked_location_count'
            });
            promise.success(function (data) {
                $scope.attacked_location_count = data
            })

             $scope.show_attacked_modal = function(location){
                console.log(location)
                 if(location=='未知'){
                     location = ''
                 }
                $http.post('/attack_flow', {'attacked_location': location, 'to_or_from': 'to', 'page': 1}, {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).success(function(data){
                    console.log(data)
                    $scope.attacked_infos = JSON.parse(data['flows_slice'])

                    $('#attacked_infos_pagination').pagination({
                        items: data['length'],
                        itemsOnPage: 4,
                        prevText: '上一页',
                        nextText: '下一页',
                        cssStyle: 'dark-theme',
                        onPageClick: function () {

                            $scope.$apply(function () {  // update pagination data
                                var log_current_page = $('#attacked_infos_pagination').pagination('getCurrentPage') // 当前页数
                                $http.post('/attack_flow', {'attacked_location': location, 'to_or_from': 'to', 'page': log_current_page}, {
                                    headers: {
                                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                                    }
                                }).success(function(data){
                                    $scope.attacked_infos = JSON.parse(data['flows_slice'])
                                })
                            })

                        },
                        onInit: function () {
                            $scope.attacked_infos =  JSON.parse(data['flows_slice'])
                        }
                    });

                })

                $('#attacked_modal').modal({});
                return false;

                //attack_infos
            }

        })


        function chongqing() {
            svg.append('circle')
                    .attr({
                        cx: city_coordinate[3]['x'],
                        cy: city_coordinate[3]['y'],
                        fill: "none",
                        "stroke-width": 4,
                        r: 2
                    })
                    .attr('stroke', getColorByRandom(colorList))
                    .style("stroke-opacity", 1).
                    transition().duration(4000).
                    ease("cubic-out").
                    style("stroke-opacity", 0).
                    attr("r", 80).remove()
        }


        {#        (function loop() {#}
        {#            var rand1 = random(1000, 5000);#}
        {#            setTimeout(function () {#}
        {#                shanghai();#}
        {##}
        {#                loop();#}
        {#            }, rand1);#}
        {#        }());#}

        {#        (function loop() {#}
        {#            var rand2 = random(1000, 5000);#}
        {#            setTimeout(function () {#}
        {#                beijing();#}
        {##}
        {#                loop();#}
        {#            }, rand2);#}
        {#        }());#}

        {#        (function loop() {#}
        {#            var rand2 = random(1500, 7000);#}
        {#            setTimeout(function () {#}
        {#                taibei();#}
        {##}
        {#                loop();#}
        {#            }, rand2);#}
        {#        }());#}

        {#        (function loop() {#}
        {#            var rand2 = random(900, 9000);#}
        {#            setTimeout(function () {#}
        {#                chongqing();#}
        {##}
        {#                loop();#}
        {#            }, rand2);#}
        {#        }());#}

        {#        (function loop() {#}
        {#            var rand2 = random(3000, 10000);#}
        {#            setTimeout(function () {#}
        {#                guangzhou();#}
        {##}
        {#                loop();#}
        {#            }, rand2);#}
        {#        }());#}

        {#        (function loop() {#}
        {#            var rand2 = random(1000, 4000);#}
        {#            setTimeout(function () {#}
        {#                xian();#}
        {##}
        {##}
        {#                loop();#}
        {#            }, rand2);#}
        {#        }());#}
app.config(function ($httpProvider) {
            $httpProvider.defaults.transformRequest = function (data) {
                if (data === undefined) {
                    return data;
                }
                return $.param(data);
            }
        });

    </script>
{% endblock %}